In [9]:
import pandas as pd
import psycopg2
import glob
import os
import csv

df = pd.read_csv('DataSourceCSV/customers_dataset.csv')

for name, dtype in df.dtypes.iteritems():
    print(name, dtype)
df

customer_id object
customer_unique_id object
customer_zip_code_prefix int64
customer_city object
customer_state object

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [12]:
conn = psycopg2.connect("host=localhost dbname=assess_etl user=macbook password=")
print("Connecting to Database")

csvPath = "DataSourceCSV"

# Loop through each CSV
for filename in glob.glob(csvPath+"*.csv"):
# Create a table name
    table_name = filename.replace("DataSourceCSV\\", "").replace(".csv", "")
    print(table_name)

# Open file
    fileInput = open(filename, "r")

# Extract first line of file
    firstLine = fileInput.readline().strip()


# Split columns into an array [...]
    columns = firstLine.split(",")


# Build SQL code to drop table if exists and create table
    sqlQueryCreate = 'DROP TABLE IF EXISTS '+ table_name + ";\n"
    sqlQueryCreate += 'CREATE TABLE'+ table_name + "("

#some loop or function according to your requiremennt
# Define columns for table
    for column in columns:
        sqlQueryCreate += column + " VARCHAR(64),\n"

    sqlQueryCreate = sqlQueryCreate[:-2]
    sqlQueryCreate += ");"

    cur = conn.cursor()
    cur.execute(sqlQueryCreate)
    conn.commit()
    cur.close()

Connecting to Database